---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';
import FlightTracker from '../../components/flights/FlightTracker';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title={`Flights | ${SITE_TITLE}`} 
			description="Track flights in real-time" 
		/>
	</head>
	<body>
		<Header />
		<main>
			<div class="max-w-5xl mx-auto px-2 sm:px-6">
				<div class="py-4 sm:py-6">
					<h1 class="text-3xl sm:text-4xl font-bold mb-2">Flight Tracker</h1>
					<p class="text-sm sm:text-base text-muted-foreground">
							Track flights in real-time using Flight API
					</p>
				</div>
				<div class="w-full flex flex-col items-start">
					<FlightTracker client:only="react" />
				</div>
			</div>
		</main>
		<Footer />

		<style>
			main {
				width: 100%;
			}
		</style>
	</body>
</html> 