---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "@/components/ui/button";
import Tooltip from "@/components/Tooltip";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-4xl font-bold mb-4">🧑‍🚀 Hello, Visitor!</h1>
			
			<p>
				Welcome to my page, my name is Juan Martinez. Here I will write about things I like and things I make.
				
				
			</p>

			<p class="flex items-center gap-2">
				This site was built with <a href="https://astro.build/"> <Tooltip triggerText="Astro" tooltipContent="Link to Astro's site" client:load/> </a>
			</p>
			
		</main>
		<Footer />
	</body>
</html>
