---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a 
	href={href} 
	class:list={[
		'px-2.5 py-1.5 rounded-md text-neutral-600 hover:text-neutral-900 hover:bg-neutral-100/75 transition-colors',
		className,
		{ 'bg-neutral-100 text-neutral-900': isActive }
	]}
	{...props}
>
	<slot />
</a>
